.h2 {
    background-color: LightGray;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 50%;
    max-width: 500px;
    margin: 5px auto;
    background-color: #ffffff;
    padding: 10px;
    border: 2px dotted #cccccc;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    padding: 20px;
}

.clear .button {
    background-color: red;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.checkout .button {
    background-color: green;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.conti .button {
    background-color: green;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.container .button {
    background-color: red;
    color: white;
    padding: 5px 5x;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: left;
}