.h2 {
    background-color: LightGray;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 50%;
    max-width: 500px;
    margin: 5px auto;
    background-color: #ffffff;
    padding: 10px;
    border: 2px dotted #cccccc;
    border-radius: 4px;
    text-align: center;
    display: inline-block;

    padding: 20px;
}

input[type=text], select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    width: 40%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container .button {
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px
}

.h2 .button {
    background-color: red;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}








