.h2 {
    background-color: LightGray;
}

.h2 .button {
    background-color: gray;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    float: inherit;
}

<
style type

=
"text/css"
> body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: blue;
    margin-bottom: 10px;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: "";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

<
/
style >

