.h2 {
    background-color: LightGray;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 50%;
    max-width: 500px;
    margin: 5px auto;
    background-color: #ffffff;
    padding: 10px;
    border: 2px dotted #cccccc;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    padding: 20px;
    float: right;
}

.product-img {
    float: left;
}

.back .button {
    background-color: green;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;;
}

.order .button {
    background-color: orange;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}