.h2 {
    background-color: LightGray;
    height: 50px;
    position: auto;
    padding: 40px;
}

.h4 {
    background-color: LightGray;
    padding: 1px;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 50%;
    max-width: 300px;
    margin: 5px auto;
    background-color: #ffffff;
    padding: 5px;
    border: 2px dotted #cccccc;
    border-radius: 4px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px
}




